/* body  */
#body{
    background-color: darkorchid;
    background:fixed;
    
}

/* container */
/* div */
#container{
    background-color: white;
}

/* word-display */
/* ul list */
#word-display {
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: center;
    align-items: center;

}
/* ul list  */
/* li */
.letter{
    width: 28px;
    border-bottom: 3px solid #000;
    margin-bottom: 20%;
    font-size: 30px;
    text-transform: capitalize;
}

.letter .guess{
    border-color: transparent;
    margin: 40px 0 35px 0;
}

.h3{
    color: red;
}

#button{
    width: calc(100% / 9-5px);
    background-color: burlywood;
    color: black;
    cursor: pointer;
    outline: none;
    padding: 7px;
    align-items: center;
}

.game-model{
    position: fixed;
    background-color: #f0f5f6;
    width: 100%;
    max-width: 420px;
    text-align: center;
    border-radius:10px ;
    padding: 30px;
}
.game-model img {
    max-width: 130px;
}