/* Reset some default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
}

/* Style the navigation bar */
nav {
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Style the heading */
h1 {
    font-size: 36px;
    text-align: left;
    margin-top: 50px;
}

/* Style the subheading */
h2 {
    font-size: 24px;
    text-align: left;
}

/* Style the image */
img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    margin-top: 20px;
    margin-right: 10px;
}

/* Style the button */
button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    img {
        max-width: 80%;
    }
    button {
        margin-top: 10px;
    }
}